<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/all">all countries</a>
    </header>
    <main>
        <div class="container column">
            <% data.forEach(item=>{%>
                <div> Country : <%=item.Country%></div>
                   <div> TotalConfirmed : <%=item.TotalConfirmed%></div>
                   <div> TotalDeaths : <%=item.TotalDeaths%></div>
                   <div>TotalRecovered : <%=item.TotalRecovered%></div>      
                   <div>Date : <%=item.Date%></div>           
                   <div class="contanire-data row">
                       <form action="/udate/:<%=id%>?_method=delete" method="POST">
                    <input type="submit" value="delete"></form>
                       <form action="/udate/:<%=id%>?_method=put" method="POST">
                        <input type="text" name="Country" id="country" value="<%=item.Country%>">
                           <input type="text" name="TotalConfirmed" id="TotalConfirmed" value="<%=item.TotalConfirmed%>">
                           <input type="text" name="TotalDeaths" id="TotalDeaths" value=" <%=item.TotalDeaths%>">
                           <input type="text" name="TotalConfirmed" id="TotalConfirmed" value="<%=item.TotalRecovered%>">
                           <input type="text" name="Date" id="Date" value="<%=item.Date%>">
                           <input type="submit" value="update">
                       </form>
                   </div>
                   <%}) %>
                </div>
        
    </main>
</body>
</html>